entrypoint = "app/main.py"
modules = ["nodejs-20", "python-3.11"]

[env]
PYTHONUNBUFFERED = "1"
PYTHONPATH = "."

[interpreter]
command = ["python3", "-u", "app/main.py"]

[unitTest]
language = "python"

[nix]
channel = "stable-24_05"
packages = ["glibcLocales", "python311Full", "xcodebuild", "zlib"]

[deployment]
run = ["python3", "app/main.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80
